* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

/* NAVBAR */

.navbar {
  background-color: #674582;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 95px;
}

.navbar__logo {
  max-width: 200px;
}

.navbar__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.navbar__nav ul {
  font-size: 18px;
  color: #fff;
  display: flex;
}

.navbar__nav ul > li {
  margin: 0 16px;
  font-weight: bold;
}

.navbar__nav--hamburguer {
  display: none;
}

/* -------------------------------------------------------------------------------- */

/* HEADER */

.header {
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-image: url(../img/elis-regina-banner.jpg);
  background-position: center;
}

h1 {
  padding-top: 29rem;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-shadow: 4px 3px 9px #000;
  text-align: center;
}

main {
  padding: 0 15%;
  color: #63458a;
}

/* --- BOTAO --- */

/* SECAO Maravilhosa */

h2,
h3 {
  padding: 1rem 0;
  text-align: center;
}

.div-minibio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-minibio img {
  width: 6rem;
  border-radius: 10px;
}

.div-minibio p {
  width: 80%;
  text-align: justify;
}

blockquote {
  font-weight: bold;
  border: 1px solid lightgrey;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
}

.historia p {
  margin: 1rem 0;
  text-align: justify;
}

.historia img {
  width: 945px;
}

/* AUTORA */
.autora {
  background-color: #e4b7e5;
  padding: 0 20%;
}

.autora .barbara-oliveira-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.autora .barbara-oliveira-container .barbara-oliveira {
  background-color: #63458a;
}

.autora .barbara-oliveira-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0.5rem;
}

.barbara-oliveira-container .barbara-oliveira-texto {
  width: 40%;
  color: #63458a;
  font-weight: bold;
}

.botao {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.botao a {
  background-color: #c083b9;
  border: 2px solid #c083b9;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.rodape {
  background-color: #323534;
  color: white;
}

.rodape__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.rodape__principal > * {
  margin: 16px 0;
}

.rodape__navegacao > li {
  font-size: 14px;
  margin: 8px;
  text-align: center;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
  padding: 10px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
  .historia img {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .navbar__nav {
    display: none;
  }

  .navbar__nav--hamburguer {
    display: block;
  }

  .div-minibio {
    flex-direction: column;
  }

  .div-minibio img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .div-minibio p {
    width: 100%;
  }
  .barbara-oliveira-container {
    padding: 0;
    margin: 0;
  }
  .barbara-oliveira-container .barbara-oliveira-texto {
    font-size: 0.8rem;
  }
  .rodape__principal {
    flex-direction: column;
  }
}

@media screen and (max-width: 468px) {
  .navbar__nav ul {
    display: none;
  }

  .barbara-oliveira-container .barbara-oliveira-texto {
    font-size: 0.6rem;
  }
}
